<table class="Calendar" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
  <tbody>
    <tr>
      <td height="5"></td>
    </tr>
    <tr>
      <td style="text-align:center"><strong>2013</strong> 年 <a href="#"><img width="15" height="15" border="0" align="middle" alt="上一個月份" src="img/arrow_01.gif"></a> <strong>08</strong> <a href="#"><img width="15" height="15" border="0" align="middle" alt="下一個月份" src="img/arrow_02.gif"></a>月 </td>
    </tr>
    <tr>
      <td height="5"></td>
    </tr>
    <tr>
      <td align="center"><table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="#CCCCCC">
        <tbody>
          <tr>
            <td><table width="100%" cellspacing="1" cellpadding="0" border="0" class="sc">
              <tbody>
                <tr>
                  <td width="14%" height="26" align="center" class="we">日</td>
                  <td width="14%" height="26" align="center" class="we">一</td>
                  <td width="14%" height="26" align="center" class="we">二</td>
                  <td width="14%" height="26" align="center" class="we">三</td>
                  <td width="14%" height="26" align="center" class="we">四</td>
                  <td width="14%" height="26" align="center" class="we">五</td>
                  <td width="14%" height="26" align="center" class="we">六</td>
                </tr>
                <tr>
                  <td width="14%" height="26" align="center" class="da"></td>
                  <td width="14%" height="26" align="center" class="da"> 1 </td>
                  <td width="14%" height="26" align="center" class="da"> 2 </td>
                  <td width="14%" height="26" align="center" class="da"> 3 </td>
                  <td width="14%" height="26" align="center" class="da"> 4 </td>
                  <td width="14%" height="26" align="center" class="da"> 5 </td>
                  <td width="14%" height="26" align="center" class="da"> 6 </td>
                </tr>
                <tr>
                  <td width="14%" height="26" align="center" class="da"> 7 </td>
                  <td width="14%" height="26" align="center" class="da"> 8 </td>
                  <td width="14%" height="26" align="center" class="da"> 9 </td>
                  <td width="14%" height="26" align="center" class="to"> 10 </td>
                  <td width="14%" height="26" align="center" class="da"> 11 </td>
                  <td width="14%" height="26" align="center" class="da"> 12 </td>
                  <td width="14%" height="26" align="center" class="da"> 13 </td>
                </tr>
                <tr>
                  <td width="14%" height="26" align="center" class="da"> 14 </td>
                  <td width="14%" height="26" align="center" class="da"> 15 </td>
                  <td width="14%" height="26" align="center" class="da"> 16 </td>
                  <td width="14%" height="26" align="center" class="da"> 17 </td>
                  <td width="14%" height="26" align="center" class="da"> 18 </td>
                  <td width="14%" height="26" align="center" class="da"> 19 </td>
                  <td width="14%" height="26" align="center" class="da"> 20 </td>
                </tr>
                <tr>
                  <td width="14%" height="26" align="center" class="da"> 21 </td>
                  <td width="14%" height="26" align="center" class="da"> 22 </td>
                  <td width="14%" height="26" align="center" class="da"> 23 </td>
                  <td width="14%" height="26" align="center" class="da"> 24 </td>
                  <td width="14%" height="26" align="center" class="ac"><a href="portal_b5.php?button_num=b5&amp;select_year=2011&amp;select_month=08&amp;select_day=25" title="25" tabindex="56"> 25 </a></td>
                  <td width="14%" height="26" align="center" class="ac"><a href="portal_b5.php?button_num=b5&amp;select_year=2011&amp;select_month=08&amp;select_day=26" title="26" tabindex="56"> 26 </a></td>
                  <td width="14%" height="26" align="center" class="da"> 27 </td>
                </tr>
                <tr>
                  <td width="14%" height="26" align="center" class="da"> 28 </td>
                  <td width="14%" height="26" align="center" class="da"> 29 </td>
                  <td width="14%" height="26" align="center" class="da"> 30 </td>
                  <td width="14%" height="26" align="center" class="da"> 31 </td>
                  <td width="14%" height="26" align="center" class="da"></td>
                  <td width="14%" height="26" align="center" class="da"></td>
                  <td width="14%" height="26" align="center" class="da"></td>
                </tr>
              </tbody>
            </table></td>
          </tr>
        </tbody>
      </table></td>
    </tr>
    <tr>
      <td height="10"></td>
    </tr>
    <tr>
      <td><span class="Notes"><img width="10" height="10" alt="*" src="img/icon_05.gif">：今日</span><span class="Notes"><img width="10" height="10" alt="*" src="img/icon_06.gif">：有活動</span></td>
    </tr>
    <tr>
      <td height="10"></td>
    </tr>
  </tbody>
</table>