<!--最新消息開始-->
<div class="column">
  <div class="block-title"> <img src="img/icon.png" style="margin-right:10px; margin-top:15px;">
    <ul class="tabs1">
      <li><a href="#" >大標題大標題大標題大標題大標題</a></li>
    </ul>
  </div>
  <div class="column-inn clear">
    <div class="column-item">
      <div class="ss_icon"> <a href="#"> <img width="14" height="16" title="引用網址" alt="引用網址" src="img/c1.gif"></a> <a href="#"><img width="18" height="17" title="轉寄好友" alt="轉寄好友" src="img/c2.gif"></a> <a href="#"><img width="21" height="20" title="列印" alt="列印" src="img/c3.gif"></a> <img width="16" height="17" title="加入收藏" alt="加入收藏" src="img/c4.gif"> <a href="#"><img width="16" height="16" title="facebook" alt="facebook" src="img/f.gif"></a> <a href="#"><img width="16" height="16" title="撲浪" alt="撲浪" src="img/p.gif"></a> <a href="#"><img width="16" height="16" title="推特" alt="推特" src="img/t.gif"></a></div>
      <div class="info_bg">
        <table width="100%" cellpadding="0" border="0" cellspacing="0" class="searchbar">
          <tbody>
            <tr>
              <td>
                <table width="100%" cellpadding="0" border="0" align="center" cellspacing="0">
                  <tbody>
                    <tr>
                      <td width="9%" nowrap="nowrap">尋找：</td>
                      <td width="91%" nowrap="nowrap">
                        <form class="form-horizontal">
                          <select name="select">
                            <option>標題</option>
                            <option>內容</option>
                          </select>
                          為
                          <input type="text" class="input" name="textfield3">
                          <input type="submit" value="查詢" class="btn" name="Submit2">
                          <input type="submit" value="進階查詢" class="btn" name="Submit3">
                        </form>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table" width="100%" cellpadding="0" border="0" cellspacing="0" >
        <tbody>
          <tr>
            <td width="5%" align="center" class="td_c"><img width="4" height="7" src="img/arrow_00.gif"></td>
            <td width="17%" align="center" class="td_c"><a href="#">2009.05.13</a></td>
            <td width="52%" class="td_c"><a href="#">標題標題巴拉巴拉</a></td>
            <td width="26%" align="center" class="td_c"><a href="#"><img width="70" height="19" src="img/download.gif"></a></td>
          </tr>
          <tr>
            <td align="center" class="td_c"><img width="4" height="7" src="img/arrow_00.gif"></td>
            <td align="center" class="td_c"><a href="#">2009.05.13</a></td>
            <td class="td_c"><a href="#">標題標題巴拉巴拉</a></td>
            <td align="center" class="td_c"><a href="#"><img width="70" height="19" src="img/download.gif"></a></td>
          </tr>
          <tr>
            <td align="center" class="td_c"><img width="4" height="7" src="img/arrow_00.gif"></td>
            <td align="center" class="td_c"><a href="#">2009.05.13</a></td>
            <td class="td_c"><a href="#">標題標題巴拉巴拉</a></td>
            <td align="center" class="td_c"><a href="#"><img width="70" height="19" src="img/download.gif"></a> </td>
          </tr>
          <tr>
            <td align="center" class="td_c"><img width="4" height="7" src="img/arrow_00.gif"></td>
            <td align="center" class="td_c"><a href="#">2009.05.13</a></td>
            <td class="td_c"><a href="#">標題標題巴拉巴拉</a></td>
            <td align="center" class="td_c"><a href="#"><img width="70" height="19" src="img/download.gif"></a></td>
          </tr>
          <tr>
            <td align="center" class="td_c"><img width="4" height="7" src="img/arrow_00.gif"></td>
            <td align="center" class="td_c"><a href="#">2009.05.13</a></td>
            <td class="td_c"><a href="#">標題標題巴拉巴拉</a></td>
            <td align="center" class="td_c"><a href="#"><img width="70" height="19" src="img/download.gif"></a></td>
          </tr>
          <tr>
            <td align="center" class="td_c"><img width="4" height="7" src="img/arrow_00.gif"></td>
            <td align="center" class="td_c"><a href="#">2009.05.13</a></td>
            <td class="td_c"><a href="#">標題標題巴拉巴拉</a></td>
            <td align="center" class="td_c"><a href="#"><img width="70" height="19" src="img/download.gif"></a></td>
          </tr>
          <tr>
            <td align="center" class="td_c"><img width="4" height="7" src="img/arrow_00.gif"></td>
            <td align="center" class="td_c"><a href="#">2009.05.13</a></td>
            <td class="td_c"><a href="#">標題標題巴拉巴拉</a></td>
            <td align="center" class="td_c"><a href="#"><img width="70" height="19" src="img/download.gif"></a></td>
          </tr>
          <tr>
            <td align="center" class="td_c"><img width="4" height="7" src="img/arrow_00.gif"></td>
            <td align="center" class="td_c"><a href="#">2009.05.13</a></td>
            <td class="td_c"><a href="#">標題標題巴拉巴拉</a></td>
            <td align="center" class="td_c"><a href="#"><img width="70" height="19" src="img/download.gif"></a></td>
          </tr>
        </tbody>
        </table>
        <div class="pagination" style="text-align:center">
          <ul>
            <li><a href="#">上一頁</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">下一頁</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--最新消息結束-->