<!--最新消息開始-->
<div class="column">
  <div class="block-title"> <img src="img/icon.png" style="margin-right:10px; margin-top:15px;">
    <ul class="tabs1">
      <li><a href="#" >大標題大標題大標題大標題大標題</a></li>
    </ul>
  </div>
  <div class="column-inn clear">
    <div class="column-item">
      <div class="info_bg">
        <table width="100%" border="0" align="center" cellspacing="0" cellpadding="0" class="cate">
          <tbody>
            <tr>
              <td><ul>
                <li><a href="#">分類區塊</a></li>
                <li><a href="#">分類區塊</a></li>
                <li><a href="#">分類區塊</a></li>
                <li><a href="#">分類區塊</a></li>
              </ul></td>
            </tr>
          </tbody>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="searchbar">
          <tbody>
            <tr>
              <td><table width="100%" border="0" align="center" cellspacing="0" cellpadding="0" >
                <tbody>
                  <tr>
                    <td width="9%" nowrap="nowrap">尋找：</td>
                    <td width="91%" nowrap="nowrap"><form class="form-horizontal">
                      <select name="select">
                        <option>標題</option>
                        <option>內容</option>
                      </select>
                      為
                      <input type="text" class="input" name="textfield3">
                      <input type="submit" value="查詢" class="btn" name="Submit2">
                      <input type="submit" value="進階查詢" class="btn" name="Submit3">
                    </form></td>
                  </tr>
                </tbody>
              </table></td>
            </tr>
          </tbody>
        </table>
        <table width="100%" border="0" align="center" cellspacing="2" cellpadding="0" class="table">
          <tbody>
            <tr>
              <td width="4%" align="center" class="td_c"><img width="14" height="14" src="img/icon_dot2.gif"></td>
              <td class="td_c"><a href="#">標題標題標題...</a></td>
            </tr>
            <tr>
              <td align="center" class="td_c"><img width="14" height="14" src="img/icon_dot2.gif"></td>
              <td class="td_c"><a href="#">標題標題標題...</a></td>
            </tr>
            <tr>
              <td align="center" class="td_c"><img width="14" height="14" src="img/icon_dot2.gif"></td>
              <td class="td_c"><a href="#">標題標題標題...</a></td>
            </tr>
            <tr>
              <td align="center" class="td_c"><img width="14" height="14" src="img/icon_dot2.gif"></td>
              <td class="td_c"><a href="#">標題標題標題...</a></td>
            </tr>
            <tr>
              <td align="center" class="td_c"><img width="14" height="14" src="img/icon_dot2.gif"></td>
              <td class="td_c"><a href="#">標題標題標題...</a></td>
            </tr>
            <tr>
              <td align="center" class="td_c"><img width="14" height="14" src="img/icon_dot2.gif"></td>
              <td class="td_c"><a href="#">標題標題標題...</a></td>
            </tr>
          </tbody>
        </table>
        <div class="pagination" style="text-align:center">
          <ul>
            <li><a href="#">上一頁</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">下一頁</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--最新消息結束-->