$colorBody: #c6c6c6
$colorPrimary: #8fceee,#95daff,#47a6d9
$colorNavText: #003b75
$colortTitle: #319bd3
$colorSecondary: #ced9e4,#004991
//$colorTertiary:
/* Color
 * --------------------------------------------- */
body
  +bg($colorBody)
.wrpper
  +bg(#fff)
.top
  +bg(nth($colorPrimary,1))
  a
    color: #000
.copyright_t
  +bg(nth($colorPrimary,2))
  a
    color: #000
.copyright_b
  +bg(nth($colorPrimary,3))
// .menu
//   a
//     color: $colorNavText
//     background-color: (nth($colorPrimary,1))
//   ul ul a
//     background-color: #a7d6ee
.mainnav > .dropdown-menu > li > a:hover
  color: $colorNavText
  background-color: (nth($colorPrimary,1))
.dropdown-submenu .dropdown-menu a:hover,
.dropdown-submenu2 .dropdown-menu a:hover
  background-color: (nth($colorPrimary,1))
.utility
  border: 1px solid #c2c2c2
  a
    border: 1px solid #349dd4
    color: #003896
.title
  background-color: $colortTitle
  color: #fff
.list_title li
  +bg(#999)
  color: #fff
.list_cont
  .list__ti, .list__ti a
    color: #2f2f2f
  .list__da, .list__da a
    color: #c00
  .list__ve, .list__ve a
    color: #004991